PORT=3000

# local server addresses
# REACT_APP_QUESTION_SERVICE_URL=http://localhost:3002
# REACT_APP_USER_SERVICE_URL=http://localhost:3001

# In docker
REACT_APP_QUESTION_SERVICE_URL=http://localhost/api/questions/
REACT_APP_USER_SERVICE_URL=http://localhost/api/users/
