# Ignore node_modules folder
node_modules/

# Ignore the build output (dist directory)
dist/

# Ignore TypeScript cache files
*.tsbuildinfo

# Ignore environment variable files
.env

# Ignore log files
*.log
npm-debug.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore coverage folder for testing reports
coverage/

# Ignore yarn lock file (optional, if using npm)
yarn.lock

# Ignore the typescript declaration map files
*.map

# Ignore temporary files created by editors
*.swp
*~
dev.db
dev.db-journal
migrations/