.app-container {
  background: var(--Grey-10, #1a1a1a);
  min-height: 100vh;
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: var(--Grey-10, #1a1a1a);
}

.ai-hint-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #2e2e2e;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
  z-index: 1000;
}

.ai-hint-button:hover {
  background-color: #373737;
  transform: scale(1.05);
}

.ai-hint-button .MuiTypography-root {
  color: #fff;
  font-size: 1rem;
  margin-left: 8px;
}
.buttons {
  margin: 10px;
}

.chatbox-icon {
  z-index: 100;
  position: fixed;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-color: #2e2e2e;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;

  &-alert {
    z-index: 101;
    position: absolute;
    top: -5px;
    right: -5px;
    transform: scale(0.7);
  }

  &:hover {
    transform: scale(1.1);
    background-color: #373737;
  }
}

.video-call {
  &-icon {
    z-index: 100;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: #2e2e2e;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
      transform 0.2s ease,
      background-color 0.2s ease;

    &-alert {
      z-index: 101;
      position: absolute;
      top: -5px;
      right: -5px;
      transform: scale(0.7);
    }

    &:hover {
      transform: scale(1.1);
      background-color: #373737;
    }
  }

  &-collapsed {
    z-index: 100;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    width: 250px;
    height: 140px;
    background-color: #2e2e2e;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
      transform 0.2s ease,
      background-color 0.2s ease;

    &:hover {
      transform: scale(1.1);
      background-color: #373737;
    }
  }
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
  .app-container {
    padding: 20px 40px;
  }

  .ai-hint-button {
    padding: 8px 16px;
    top: 5px;
    left: 5px;
  }

  .ai-hint-button .MuiTypography-root {
    font-size: 0.9rem;
  }

  .chatbox-icon,
  .video-call-icon {
    width: 50px;
    height: 50px;
  }
}
