.CodeContainer {
  display: flex;

  .left-side {
    flex: 0.4;
    padding: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;

    .md-editor {
      background-color: #1e1e1e;
      border-radius: 10px;
      border: 1px solid #3c3c3c;
      padding: 20px;
      color: #fff;
      height: 500px;
      overflow: auto;
    }
  }

  .right-side {
    flex: 0.6;
    padding: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .language-select {
        background-color: #1e1e1e;
        color: #fff;
        border: 1px solid #3c3c3c;
        padding: 5px;
        border-radius: 5px;
      }

      .submit-button {
        background-color: #caff33;
        color: #121212;
        border-radius: 5px;

        &.disabled {
          color: #6c757d;
        }
      }
    }

    .code-editor {
      background-color: #1e1e1e;
      border-radius: 10px;
      border: 1px solid #3c3c3c;
      color: #fff;
      overflow: hidden;
    }
  }

  .ai-hint-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #2e2e2e;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition:
      background-color 0.2s ease,
      transform 0.2s ease;
    z-index: 1000;
  }

  .ai-hint-button:hover {
    background-color: #373737;
    transform: scale(1.05);
  }

  .ai-hint-button .MuiTypography-root {
    color: #fff;
    font-size: 1rem;
    margin-left: 8px;
  }
}
