.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #1c1c1c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: #f1f1f1;
  font-family: "Lexend", "Roboto", "Arial", sans-serif; /* Ensuring the font is coherent */
}

h1 {
  text-align: center;
  color: #caff33;
  font-size: 28px;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #282828;
  border-radius: 8px;
  overflow: hidden;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #333;
}

.table th {
  background-color: #333;
  font-weight: bold;
  color: #caff33;
  position: relative;
}

.table th:nth-child(1) {
  width: 10%;
}

.table th:nth-child(5) {
  width: 15%;
}

.clickable {
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

.clickable:hover {
  background-color: #3c3c3c;
}

.clickable::before,
.clickable::after {
  content: "";
  position: absolute;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.clickable::before {
  top: 40%;
  border-bottom: 6px solid #456300;
}

.clickable::after {
  top: 60%;
  border-top: 6px solid #456300;
}

.asc::before {
  border-bottom: 6px solid #caff33;
}

.desc::after {
  border-top: 6px solid #caff33;
}

.table td {
  color: #f1f1f1;
}

.tags {
  display: flex;
  gap: 8px;
}

.tag {
  background-color: #61dafb;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  text-transform: capitalize;
}

.tag:nth-child(2n) {
  background-color: #ff6f61;
}

.tag:nth-child(3n) {
  background-color: #8e44ad;
}

.tag:nth-child(4n) {
  background-color: #2ecc71;
}

.complexity {
  font-weight: bold;
  color: #caff33;
}

.table tr:hover {
  background-color: #3a3a3a;
}

.questionaddicon {
  margin-top: 20px !important;
}

.questionediticon {
  color: #f1f1f1 !important;
}

.questiondeleteicon {
  color: red !important;
}

.questionlinkicon {
  width: 80% !important;
  color: #caff33 !important;
}

.questiontitle {
  color: #f1f1f1 !important;
  text-decoration: underline !important;
}

@media (max-width: 768px) {
  .table th,
  .table td {
    padding: 10px;
    font-size: 14px;
  }
}
