.ConfirmationDialog {

    &-title {
        word-wrap: break-word;
        font-size: 1.5rem !important;
        font-weight: 700 !important;
    }

    &-content {
        word-wrap: break-word;
    }

}